body{
    background-color: black;
    color: white;
    height: 100%;
}
ul{
    list-style-type: none;
}
.chatArea{
    border: 1px solid white;
    margin-top: 5px;
}
ul.messages{
    max-height: 600px;
    overflow: auto;
}
.socketClock, .socketClock div, .socketClock span{
    display: inline-block;
}
.socketClock>div{
    width: 450px;
}
.head-panel{
    width: 100%;
    border-bottom: 1px solid white;
}
.left-panel{
    width: 15%;
    height: 100%;
    display: inline-block;
    border: 1px solid white;
}
.right-panel{
    width: 84%;
    height: 100%;
    display: inline-block;
    border-left: 1px solid white;
    margin-left: 1px;
}
.right-panel>div{
    height: 100%;
    border: 1px solid white;
}
.right-panel span{
    margin-right: 2px;
}
